#main-grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

a:hover {
    cursor: pointer;
}

#alert {
    border-radius: 10px;
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}

#file-input-container {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#file-input-container button {
    background-color: #434C9F;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    padding: 12px 10px;
    font-size: 14px;
    font-family: Franklin Gothic Medium;
}

#file-input-container input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#table-container{
    grid-column: 3 / 11;
    grid-row: 3 / 4;
    height: 260px;
}

table {
    width: 100%;
    border-radius: 6px;
}

td {
    background-color: #ffffffc9;
    padding-left: 10px;
}

th {
    background-color: #176188;
    color: #f2f2f2;
    text-align: center;
}

th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    display: grid;
    grid-auto-rows: minmax(30px, 40px);
    grid-template-columns: repeat(12, 1fr);
}

.filename {
    grid-column: 1 / 6;
}

.filetype {
    grid-column: 6 / 9;
}

.filesize {
    grid-column: 9 / 11;
}

.download {
    padding: 0;
    text-align: center;
    grid-column: 11 / 13;
}

input[name=search] {
    background-image: url('../../../assets/search.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid black;
    font-family: Verdana;
    font-size: 12px;
    grid-column: 9 / 11;
    grid-row: 2 / 3;
    margin-top: 10px;
    padding-left: 30px;
}

#pagination {
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 4 / 5;
}
