<div id="main-grid-container">
    <div id="alert">
        <app-alert [hidden]="alertHidden" [alertText]="alertText"></app-alert>
    </div>
    <div id="file-input-container">
        <button class="button">Upload Files</button>
        <input type="file" multiple name="file-input" (change)="upload($event)">
    </div>
    <div id="select">
        <div *ngIf="(authInfo$ | async).user?.username === 'registrar'; else elseTemplate">
            <select name="registrarSelectBox" id="registrarSB">
               <option value="registrar">registrar</option>
               <option value=dir
                    *ngFor="let dir of directories">
                   {{dir}}
                </option>
            </select>
        </div>
        <ng-template #elseTemplate>
            <div>
                <select name="instructorSelectBox" id="instructorSB">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                    <option value="protected">Protected</option>
                </select>
            </div>
        </ng-template>
    </div>
    <div id="table-container">
        <table>
            <tr>
                <th class="filename">File Name</th>
                <th class="filetype">File Type</th>
                <th class="filesize">File Size</th>
                <th class="download">Download</th>
            </tr>
            <tr *ngFor="let file of files">
                <td class="filename padding">{{ file.filename }}</td>
                <td class="filetype" [appIcon]="file.filetype">
                    <div>{{ file.filetype }}</div>
                </td>
                <td class="filesize"> {{ file.size }} </td>
                <td class="download">
                    <div class="download">
                    <a (click)="downloadFile(file.downloadUrl)">download</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <input type="text" name="search" #filename (keyup.enter)="searchFile(filename.value)">
    <div id="pagination">
        <app-pagination [filesSubject]="filesSubject"
        (pageClick)="changePage($event)"></app-pagination>
    </div>
</div>
