<div id="pagination">
    <button type="button" class="arrow" id="arrowLeft"
     (click)="pageLeft()"

     [ngClass]="{hidden: this.arrayPointer == 0}">&laquo;</button>
     <div id="page-buttons">
        <button id="page" type="button" *ngFor="let element of page; index as i" (click)="onClick(i, $event)"
        [ngClass]="{active: (i == 0)}">{{i + 1 + arrayPointer}}</button>
     </div>
    <button type="button" class="arrow" id="arrowRight"
    (click)="pageRight()" [ngClass]="{hidden: getArrayPointerRight()}">&raquo;</button>
</div>
