#pagination {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#arrowLeft{
    grid-column: 2 / 3;
}

#arrowRight {
    grid-column: 7 /8;
}

#page-buttons {
    grid-column: 3 / 7;
}

#page {
    padding: 8px 15px;
}

button {
    border: 1px solid black;
    background-color: none;
    color: black;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer
}

.arrow {
    border: none;
    background-color: transparent;
}

button:hover:not(.arrow):not(.active) {
    color: white;
    background-color: rgb(111, 117, 163)
}

.hidden {
    visibility: hidden
}

.active {
    background-color: rgb(19, 78, 206);
    color: white;
}
