.window {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.title {
    padding-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.content {
    margin: 20px auto;
    background-color: #f2f2f2;
    height: 63%;
    width: 35%;
    border-radius: 5px;
    border: 1px solid grey;
}

.header {
    height: 10%;
    padding: 0;
    width: 100%;
    font-family: Verdana;
    font-size: 20px;
}


.body {
    height: 75%;
    width: 100%;
}

.footer {
    margin-top: 10px;
    height: 15%
}

ul {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    width: 80%;
    margin: auto;
    display: block;
    border: 2px groove rgb(0, 113, 128);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header {
    padding: 8px 0;
    text-align: center;
    height: 20%;
    color:white;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(14, 36, 163)
}

.card-body {
    padding: 5px 20px;
    display: block;
    font-family: Arial;
    font-size: 14px;
    background-color: rgb(251, 251, 255);
    height: 80%;
}

.card-content {
    width: 100%;
    padding-top: 5px;
    color: rgb(131, 130, 130);
}

span {
    position: relative;
    height: 0;
    width: 0;
    bottom: 30px;
    right: 40px;
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

li {
    display: block;
    margin: 5px;
}

span:hover, span:focus {
    cursor: pointer;
    color: #000;
}

.footer {
    margin-left: 32px;
}

button {
    background-color: #434C9F;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 12px 10px;
    font-size: 18x;
    font-family: Franklin Gothic Medium;
}
