ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #367292;
    z-index: 1;
}

li {
    float: left;
}

li:hover {
    background-color: #36A369;
}

li a {
    font-family: Verdana;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button {
    background-color: #3f85aa;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: rgb(250, 245, 245);
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    position: fixed;
    right: 100px;
    top: 4px;
    z-index: 1;
}

